@import url(https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700);

body { font-family: 'Open Sans', 'Lato', 'Source Sans Pro', sans-serif; }
h1, h2, h3 {
  font-family: 'Lato', 'Raleway', sans-serif;
  font-weight: normal;
}

.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Fira Mono', monospace; }

.remark-code-span-highlighted { padding: 0 2px 0 2px; }

.remark-slide-content {
  background-size: contain;
}

.remark-slide-content h1 {
    font-size: 50px;
}

.remark-slide-content h2 {
    font-size: 40px;
}

.remark-slide-content h3 {
    font-size: 30px;
}

a {
  font-family: 'Fira Mono';
  color: #003865;
}

.title-slide .remark-slide-number {
  display: none;
}

.title-slide h1 {
  display: block;
  position: absolute;
  text-align: left;
  top: 120px;
  font-size: 2.5em;
}
.title-slide h2 {
  display: block;
  position: absolute;
  text-align: left;
  top: 200px;
  font-size: 1.25em;
}

.title-slide h3 {
  display: block;
  position: absolute;
  text-align: left;
  top: 280px;
  font-size: 1em;
}

.center-top {
  position: absolute;
  text-align: center;
  top: 33%;
  left: 0%;
  width: 100%;
}

.center-middle {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0%;
  width: 100%;
}

.center-bottom {
  position: absolute;
  text-align: center;
  top: 66%;
  left: 0%;
  width: 100%;
}
      
.text-white {
  color: white;
}

.text-white a {
  color: white;
}

.small    { font-size: 0.5em;  }
.smaller  { font-size: 0.75em; }

.small   .remark-code { font-size: 0.5em;  }
.smaller .remark-code { font-size: 0.75em; }

.bigger { font-size: 1.25em; }
.big    { font-size: 1.5em;  }

.bigger .remark-code { font-size: 1.25em; }
.big    .remark-code { font-size: 1.5em;  }

.fs-50 { font-size: 50%; }
.fs-55 { font-size: 55%; }
.fs-60 { font-size: 60%; }
.fs-65 { font-size: 65%; }
.fs-70 { font-size: 70%; }
.fs-75 { font-size: 75%; }
.fs-80 { font-size: 80%; }
.fs-85 { font-size: 85%; }
.fs-90 { font-size: 90%; }
.fs-95 { font-size: 95%; }

.fs-50 .remark-code { font-size: 50%; }
.fs-55 .remark-code { font-size: 55%; }
.fs-60 .remark-code { font-size: 60%; }
.fs-65 .remark-code { font-size: 65%; }
.fs-70 .remark-code { font-size: 70%; }
.fs-75 .remark-code { font-size: 75%; }
.fs-80 .remark-code { font-size: 80%; }
.fs-85 .remark-code { font-size: 85%; }
.fs-90 .remark-code { font-size: 90%; }
.fs-95 .remark-code { font-size: 95%; }

.left-column {float:left}
.right-column {float:right}

.clear-columns { display: block; clear: both; }

.split-30 .left-column {width: 30%}
.split-30 .right-column {width: 70%}
.split-40 .left-column {width: 40%}
.split-40 .right-column {width: 60%}
.split-50 .left-column {width: 50%}
.split-50 .right-column {width: 50%}
.split-60 .left-column {width: 60%}
.split-60 .right-column {width: 40%}
.split-70 .left-column {width: 70%}
.split-70 .right-column {width: 30%}

.split-35-55 .left-column {width: 35%}
.split-35-55 .right-column {width: 55%}
.split-35-60 .left-column {width: 35%}
.split-35-60 .right-column {width: 60%}
.split-45-50 .left-column {width: 45%}
.split-45-50 .right-column {width: 50%}
.split-45-45 .left-column {width: 45%}
.split-45-45 .right-column {width: 45%}

.box-20 { width: 20%; margin: 0 auto; display: block; }
.box-30 { width: 30%; margin: 0 auto; display: block; }
.box-40 { width: 40%; margin: 0 auto; display: block; }
.box-50 { width: 50%; margin: 0 auto; display: block; }
.box-60 { width: 60%; margin: 0 auto; display: block; }
.box-70 { width: 70%; margin: 0 auto; display: block; }
.box-80 { width: 80%; margin: 0 auto; display: block; }
.box-90 { width: 90%; margin: 0 auto; display: block; }

.full-layover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1210px;
  height: 681px;
}

.hl line {
  stroke: rgb(0,181,209);
  stroke-width: 4;
}

.hl rect {
  fill: none;
  stroke: rgb(0,181,209);
  stroke-width: 4;
}

.hl text {
  fill: rgb(0,181,209);
}

.dark-hl line {
  stroke: rgb(0,56,101);
  stroke-width: 4;
}

.dark-hl rect {
  fill: none;
  stroke: rgb(0,56,101);
  stroke-width: 4;
}

.dark-hl text {
  fill: rgb(0,56,101);
}



/* The ribbons */

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}