@import url(https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700);

body { font-family: 'Open Sans'; }
h1, h2, h3 {
  font-family: 'Raleway';
  font-weight: normal;
}

.remark-code, .remark-inline-code { font-family: 'Fira Mono'; }

.remark-code-span-highlighted { padding: 0 2px 0 2px; }

.remark-slide-content {
  background-size: contain;
}

.remark-slide-content h1 {
    font-size: 50px;
}

.remark-slide-content h2 {
    font-size: 40px;
}

.remark-slide-content h3 {
    font-size: 30px;
}

a {
  font-family: 'Fira Mono';
  color: #003865;
}

.title-slide .remark-slide-number {
  display: none;
}

.title-slide h1 {
  display: block;
  position: absolute;
  text-align: left;
  top: 120px;
  font-size: 2.5em;
}
.title-slide h2 {
  display: block;
  position: absolute;
  text-align: left;
  top: 200px;
  font-size: 1.25em;
}

.title-slide h3 {
  display: block;
  position: absolute;
  text-align: left;
  top: 280px;
  font-size: 1em;
}

.center-top {
  position: absolute;
  text-align: center;
  top: 33%;
  left: 0%;
  width: 100%;
}

.center-middle {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0%;
  width: 100%;
}

.center-bottom {
  position: absolute;
  text-align: center;
  top: 66%;
  left: 0%;
  width: 100%;
}
      
.text-white {
  color: white;
}

.text-white a {
  color: white;
}

.small {
  font-size: 0.5em;
}

.small .remark-code {
  font-size: 1em;
}

.smaller {
  font-size: 0.75em;
}

.bigger {
  font-size: 1.25em;
}

.big {
  font-size: 1.5em;
}

.left-column {float:left}
.right-column {float:right}

.split-30 .left-column {width: 30%}
.split-30 .right-column {width: 70%}
.split-40 .left-column {width: 40%}
.split-40 .right-column {width: 60%}
.split-50 .left-column {width: 50%}
.split-50 .right-column {width: 50%}
.split-60 .left-column {width: 60%}
.split-60 .right-column {width: 40%}
.split-70 .left-column {width: 70%}
.split-70 .right-column {width: 30%}

.box-20 { width: 20%; margin: 0 auto; }
.box-30 { width: 30%; margin: 0 auto; }
.box-40 { width: 40%; margin: 0 auto; }
.box-50 { width: 50%; margin: 0 auto; }
.box-60 { width: 60%; margin: 0 auto; }
.box-70 { width: 70%; margin: 0 auto; }
.box-80 { width: 80%; margin: 0 auto; }
.box-90 { width: 90%; margin: 0 auto; }